<main class="ui vertical segment">
        <p>Hey there!</p>
        <p>Welcome to my website.<br />The fact that you somehow found your way over here probably means that you are either interested in my work ... or you are one of my stalkers.</p>
        <p>In both cases: Welcome again! Have a cup of coffee (or a tea if you prefer) and check out my previous projects or the things I am currently experimenting with:</p>
</main>

<section class="ui vertical segment">
        <section class="ui horizontal divided text list">
                <div class="item">
                        <a [routerLink]="['References']">References</a>
                </div>
                <div class="item">
                        <a [routerLink]="['OpenSource']">Open Source</a>
                </div>
        </section>
</section>

<section class="ui vertical segment">
        <p>Saw enough? You got some work for me? Just give me a shout via one of the methods linked on the top-right!</p>
</section>
