<main class="ui vertical segment">
        <p>Within the past ~10 years I worked with many different programming languages. While I might not be fluent in all of them at the moment, I know my way around with them and could pick them up at any time:</p>

        <p>Classic (Compiled) Languages: C++11, x86 Assembly</p>
        <p>Modern (JIT/AOT) Languages: Java, C#</p>
        <p>Script Languages: Bash, JavaScript, ECMAScript2015, Python, TypeScript</p>
        <p>Markup Languages: DTD, (X)HTML 5, XML, XSD</p>
        <p>Misc Languages: ANTLR4 Grammar, HQL, LEX, SQL, YACC</p>
</main>

<article class="ui vertical segment">
        <p>Obviously one does not simply program everything from scratch. So here's a short list of frameworks I have worked with (a random collection):</p>
        <p>Source, Spring, Unity3D, Unreal, WoltLab Community Framework, Zend Framework</p>
</article>

<section class="ui vertical segment">
        <a [routerLink]="['Index']">&laquo; Back</a>
</section>
